*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(38, 99, 102);
    height: 50vh;
    
    .containHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);

        .divImg{
            margin-bottom: 3%;
        }
    }

    h1{
        color: white;
        text-align: center;
        font-size: 3vw;
        font-weight: 400;
        font-family: sans-serif; 
    }
    h5{
        text-align: center;
        color: yellow;
        margin-top: 1%;
        font-size: 2vw;
    }
}

section{

    div{
        padding: 1%;
        transition: all .5s;
        cursor: pointer;
        
        a{   
            font-family: 'lucida sans';
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            padding: 20px;
            transition: 0.3s;
            border: 1px solid #dddd;
            
            &:hover{
                border-color: rgb(38, 99, 102);
                color: rgb(38, 99, 102);
            }
            img{
                font-size: 32px;
                padding-right: 10px;
                line-height: 1;
            }
            span{
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 16px;
            }
        }
    }
}
footer{
    background-color: rgb(38, 99, 102);
    padding: 1%;
    text-align: center;
    color:white;
    font-size:1.2em;
}

.titleListCourses{
    h1{
        background-color: rgb(38, 99, 102);
        padding: 1.5%;
        color: white;
        text-align: center;
        word-spacing: 3px;
        font-weight: 300;
    }
}
.containCoursLIST{
    

    .showCourses{
        border: 1px solid rgb(38, 99, 102);;
        border-radius: 10px;
        margin: 3%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}